<!DOCTYPE html>
<html lang="ja">
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
    <head></head>
    <main>
        <header>
          <div class="row">
            <%= render "layouts/header" %>
          </div>
        </header>
        <body>
          <div class="row">
          <div class="col-xs-10 col-xs-10 col-xs-offset-1">
            <div class="row">
            <%= form_with model: @item, url: admin_item_path do |f| %>
            
            <div class="col-xs-5">
             <h2>商品編集</h2>
             
              <div class= "item-new-form">
                <%= f.file_field :image, accept: "image/*" %>
              </div>
              <div class="product-img" style="margin-top: 20px;">
                <%= image_tag @item.image, size: "300x200" %>
              </div>
            </div>
            
            <div class="col-xs-5 col-xs-offset-2">
              <table class="table table-hover table-inverse">
                <tbody>
                  <tr>
                    <th>商品名</th>
                    <td><%= f.text_field :name, class: "form-control" %></td>
                  </tr>
                  <tr>
                    <th>商品説明</th>
                    <td><%= f.text_area :introduction, class: "form-control" %></td>
                  </tr>
                  <tr>
                    <th>販売価格</h4>
                    <td><%= f.text_field :price, class: "form-control" %></th>
                  </tr>
                  <tr>
                    <th>販売ステータス</th>
                    <td><%= f.select :is_active, @active, include_blank: "選択してください" %></td>
                  </tr>
                </tbody>
              </table>
              <div class="text-right">
                <%= f.submit "編集する", class: "btn btn-primary text-right" %>
              </div>
            </div>
            <% end %>
          </div>
          </div>
        </body>
    </main>
</html>