<!DOCTYPE html>
<html lang="ja">
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
    <body>
      <main>
        <div>
          <h1>商品詳細</h1>
          <% if @item.image.attached? %>
              <%= image_tag item.image, size: "100x200" %>
          <% else %>
              <%= image_tag 'no_image', size: "100x200" %>
          <% end %>
          <p>商品名<%= @item.name %></p>
          <p>商品説明<%= @item.introduction %></p>
          <p>税込価格(税抜価格)<%= @item.price %></p>
          <p>販売ステータス</p>
        </div>
        <div>
            <%= form_with model:@item do |f| %>
                <%= f.submit "編集する" edit_items_path%>
            <% end %>
        </div>
      </main>
    </body>
</html>