<body>
  <main>
    <h2>ログイン</h2>
    <h3>会員の方はこちらからログイン</h3>
    <%= form_with model: @customer do |f| %>
        <h4>メールアドレス</h4>
          <%= f.text_field :email autofocus: true, placeholder:"sample@example.com" %>%>
        <h4>パスワード</h4>
          <%= f.text_field :encrypted_password %>
        <%= f.submit 'ログイン' %>
    <% end %>
    <h2>会員登録がお済みでない方</h2>
    　<%= link_to 'こちら', new_customer_registration_path %>から新規登録を行ってください。
  </main>
</body>