<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <header>
            <div>
                <h1></h1>
                  <% if customer_signed_in? %>
                    <%= link_to "マイページ", customer_path(current_customer), class: 'btn btn-default' %>
                    <%= link_to "商品一覧", items_path, class: 'btn btn-default' %>
                    <%= link_to "カート", new_customer_registration_path, class: 'btn btn-default' %>
                    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
                  <%else%>
                    <%= link_to "About", about_path, class: 'btn btn-default' %>
                    <%= link_to "商品一覧", items_path, class: 'btn btn-default' %>
                    <%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-default' %>
                    <%= link_to "ログイン", new_customer_session_path, class: 'btn btn-default' %>
                  <%end%>
            </div>
      </header>
  </body>
  <%= yield %>
</html>
